In [1]:
print('Hello world!')

Hello world!

In [2]:
x = 2
y = 3

In [3]:
x + y

5

In [4]:
x + y 
x - y

-1

In [5]:
print(x+y)
x-y

5

-1

In [6]:
mynums = [1, 2, 3, 1, 2]
mynums

[1, 2, 3, 1, 2]

In [7]:
for n in mynums:
    print(n+1)

2
3
4
2
3

In [8]:
mynums?

In [9]:
import pandas as pd

In [10]:
pd.DataFrame(mynums)

   0
0  1
1  2
2  3
3  1
4  2

In [11]:
mynums.sort(reverse = True)

In [12]:
mynums

[3, 2, 2, 1, 1]

In [13]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [14]:
x = 1+1
y = 1-1
z = x/y

ZeroDivisionError: division by zero

In [ ]:
%debug

> <ipython-input-14-ab38e88d1dcb>(3)<module>()
      1 x = 1+1
      2 y = 1-1
----> 3 z = x/y

ipdb> y
0